/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    position: relative;
    background-color: black;
}

/* Common classes */

.pad-all-1 {
    padding: 1em;
}
.marg-all-1 {
    margin: 1em;
}
.marg-top-bot-1 {
    margin: 1em auto;
}

/* Navbar Settings */
.navbar {
    display: flex;
    justify-content: flex-end;
}
.nav-element {
    display: inline-block;
    color: white;
    background-color: #2a2a2a;
    font-size: 0.75em;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0.5em;
}




/* Main Settings */
.main-container {
    padding: 2em 4em;
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.user {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 150px;
    margin: 0.25em;
}
.user-name {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 0.5em;
    font-size: 0.8em;
    color: white;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

/* Footer Settings */

.footer{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
    bottom: 0;
    font-size: 0.6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: white;
}

.foot-aside,
.foot-center{
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
}
.foot-center {
    width: 50%;
    justify-content: center;
}
.foot-right {
    flex-direction: row-reverse;
}

.end-call {
    height: 100%;
    line-height: 70px;
    background-color: #4a4a4a;
    color: red;
    padding: 0 1.5em;
}
.foot-element {
    display: inline-block;
    text-align: center;
    margin: 0 0.5em;
}
.foot-element-icon {
    display: block;
    font-size: 2.25em;
    margin: 0.25em;
}

#btn-share {
    color: green;
}